*{
	margin: 0px;
	padding: 0px;
}
body{
    background-image: url(../imagenes/kr.jpg);
    background-size: cover;
}
.contenedor{
	position: relative;
	top: 120px;
}
.contenedor h2{
    position: absolute;
    font-family: sans-serif;
    font-size: 35px;
    color: #fff;
    margin: 27px ;
    padding: 40px ;
    top: 77px;
    
}
.text{
	font-size: 30px;
	font-family: sans-serif;
	color: #fff;
	border: none;
	background: rgba(0,0,0,.7);
    border-radius: 5px;
	width: 325.8px;
	height: 80px;
}
.columna1{
	font-size: 30px;
	font-family: sans-serif;
	color: white;
	border: none;
    border-radius: 5px;
	background: rgba(0,0,0,.7);
	width: 80px;
	height: 80px;
}
.columna2{
	font-size: 30px;
	font-family: sans-serif;
	color: white;
	border: none;
    border-radius: 5px;
	background: rgba(0,0,0,.7);
	width: 80px;
	height: 80px;
}